<footer class="bg-dark text-white text-center fixed-footer py-3">
    <p>&copy; 2023 <a href="https://www.linkedin.com/in/steven-jaguric/" target="_blank" rel="noopener noreferrer">Steven Jagurić</a>. All rights reserved and stuff.</p>
</footer>
