/* Style for API sections */
.api-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for the parent container of response-box */
.response-box-container {
    height: 100%;
}

/* Style for the response text box on the right side */
.response-box, .product-response-box, .user-response-box, .category-response-box, .order-response-box, .search-response-box {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 150px;
    width: 95%;
    height: 95%;
    resize: none;
}

/* Style for the notes section */
.notes {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}